.cart-icon{
    position: relative;
    margin-right: 15px;
}
.cart-icon span {
    background: red;
    border-radius: 20px;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 10px;
    padding: 5px;
}